In [22]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [23]:
from sklearn import datasets
cancer=datasets.load_breast_cancer()

In [24]:
# print(cancer.feature_names)

In [25]:
print(cancer.target_names)

['malignant' 'benign']

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(cancer.data,cancer.target,test_size=0.3,random_state=1)

In [27]:
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [29]:
y_pred

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1])

In [30]:

from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.9532163742690059
Precision: 0.9464285714285714
Recall: 0.9814814814814815

In [12]:
data=pd.read_csv('ISLAB-main/fruits.csv')

In [13]:
feature=list(zip(data['Weight'],data['Colour']))

In [14]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
target=le.fit_transform(data['Label'])

In [ ]:
# feature,target

In [15]:
x_train,x_test,y_train,y_test=train_test_split(feature,target,test_size=0.3,random_state=1)

In [ ]:
# x_train,x_test,y_train,y_test

In [16]:

clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
# y_pred=clf.predict([[377,4]])

In [17]:
print(le.inverse_transform(y_pred))

['Banana' 'Banana' 'Apple' 'Banana' 'Apple' 'Apple']

In [18]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 1.0
Precision: 1.0
Recall: 1.0

In [31]:
data

    Weight  Colour   Label
0      303       3  Banana
1      370       1   Apple
2      298       3  Banana
3      277       3  Banana
4      377       4   Apple
5      299       3  Banana
6      382       1   Apple
7      374       4   Apple
8      303       4  Banana
9      309       3  Banana
10     359       1   Apple
11     366       1   Apple
12     311       3  Banana
13     302       3  Banana
14     373       4   Apple
15     305       3  Banana
16     371       3   Apple